<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Club list</title>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <section layout:fragment="body" class="py-5">
            <div class="container">
                <form method="post" th:object="${event}" th:action="@{/events/{clubId}/saveEvent(clubId=${clubId})}">
                    <div class="form-row ">
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputName">Name</label>
                            <input th:field="*{name}" type="text" class="form-control" id="inputName"
                                placeholder="Name">
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="inputLocation">Location</label>
                            <input th:field="*{location}" type="text" class="form-control" id="inputLocation"
                                placeholder="Location">
                            <p class="text-danger" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputHostEmail">Host e-mail</label>
                        <input th:field="*{hostEmail}" type="text" class="form-control" id="inputHostEmail"
                            placeholder="HostEmail">
                        <p class="text-danger" th:if="${#fields.hasErrors('hostEmail')}" th:errors="*{hostEmail}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputDescription">Description</label>
                        <input th:field="*{description}" type="text" class="form-control" id="inputDescription"
                            placeholder="Description">
                        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputImageUrl">Image URL</label>
                        <input th:field="*{imageUrl}" type="text" class="form-control" id="inputImageUrl"
                            placeholder="ImageUrl">
                        <p class="text-danger" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputStartTime">Start time</label>
                        <input th:field="*{startTime}" type="datetime-local" class="form-control" id="inputStartTime"
                            placeholder="StartTime">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputEndTime">End time</label>
                        <input th:field="*{endTime}" type="datetime-local" class="form-control" id="inputEndTime"
                            placeholder="EndTime">
                    </div>
                    <button type="submit" class="btn btn-primary">Save event</button>
                </form>
            </div>

        </section>
    </main>

</body>

</html>